.data p {
  border-radius: 15px;
  padding: .5em;
  min-width: 300px;
  max-width: 550px; }

/* Indentation classes */
.depth-1 {
  padding-left: 45px; }

.depth-2 {
  padding-left: 45px; }

.depth-3 {
  padding-left: 45px; }

.depth-4 {
  padding-left: 45px; }

.depth-5 {
  padding-left: 45px; }

.depth-6 {
  padding-left: 45px; }

.depth-7 {
  padding-left: 45px; }

.depth-8 {
  padding-left: 45px; }

.depth-9 {
  padding-left: 45px; }

.depth-10 {
  padding-left: 45px; }

.depth-11 {
  padding-left: 45px; }

.depth-12 {
  padding-left: 45px; }

.depth-13 {
  padding-left: 45px; }

.depth-14 {
  padding-left: 45px; }

/* End indentation classes */
html,
body {
  margin: 0;
  padding: 1em 3em;
  background-color: #222; }
  @media screen and (max-width: 900px) {
    html,
    body {
      padding: 1em 0; } }

.title {
  font: normal small-caps normal 6em/1.2em 'Forum', serif;
  letter-spacing: .09em;
  color: #fff;
  margin: 0 0 .5em 0;
  text-align: center; }
  @media screen and (max-width: 900px) {
    .title {
      font-size: 4em; } }

.instructions {
  font: normal 2em/1em 'Forum', Georgia, serif;
  color: #fff;
  text-align: center;
  margin: 1em 0; }
  @media screen and (max-width: 900px) {
    .instructions {
      font-size: 1.2em; } }

.entryArea {
  margin: 0;
  display: flex; }
  .entryArea img {
    display: inline-block;
    margin: auto;
    padding: 16px;
    width: 400px;
    height: 600px;
    background-color: #4a4a4a; }
    @media screen and (max-width: 1100px) and (min-width: 900px) {
      .entryArea img {
        width: 300px;
        height: 500px; } }
    @media screen and (max-width: 900px) {
      .entryArea img {
        display: none; } }
  .entryArea textarea {
    display: inline-block;
    padding: 16px;
    margin: auto;
    width: 400px;
    height: 600px;
    background-color: #4a4a4a;
    color: #ddd;
    font-family: 'Droid Sans Mono', monospace;
    border: none; }
    @media screen and (max-width: 1100px) and (min-width: 900px) {
      .entryArea textarea {
        width: 300px;
        height: 500px; } }
    @media screen and (max-width: 900px) {
      .entryArea textarea {
        width: 100%;
        height: 500px; } }
    .entryArea textarea:focus {
      outline: #fff auto 2px; }

.submit {
  font: normal 1.7em/1em 'Droid Sans Mono', Arial, sans-serif;
  padding: .5em 1em;
  display: block;
  margin: 2em auto;
  background-color: #eee;
  border-radius: 10px;
  border: none;
  transition: .7s; }
  .submit:hover {
    background-color: #4506fc;
    color: #fff;
    transition: .7s; }

.errInvalidJSON {
  background-color: #3002b3;
  color: #fff;
  text-align: center;
  padding: .5em 1em;
  display: block;
  margin: 0 auto;
  font: normal 1.3em/1em 'Droid Sans Mono', monospace; }

.jsonLint {
  border: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 600px; }

.interpretation {
  padding: 5em; }
  @media screen and (max-width: 900px) {
    .interpretation {
      padding: .5em; } }

.string > p {
  background-color: #8d1da8;
  color: black;
  cursor: default; }
  .string > p:hover {
    background-color: #bf3ede; }

.number > p {
  background-color: #8a7bdd;
  color: #130d32;
  cursor: default; }
  .number > p:hover {
    background-color: #c7c0ef; }

.boolean > p {
  background-color: #4506fc;
  color: black;
  cursor: default; }
  .boolean > p:hover {
    background-color: #855cfd; }

.array > p {
  background-color: #d09a15;
  color: black;
  cursor: pointer; }
  .array > p:hover {
    background-color: #edbf4f; }

.object > p {
  background-color: #ffdb41;
  color: #272000;
  cursor: pointer; }
  .object > p:hover {
    background-color: #ffeb98; }

.null > p {
  background-color: #ababab;
  color: #1f1f1f;
  cursor: default; }
  .null > p:hover {
    background-color: #d6d6d6; }

.undefined > p {
  background-color: #777;
  color: black;
  cursor: default; }
  .undefined > p:hover {
    background-color: #a2a2a2; }

.legend div p {
  padding: none;
  margin: .5em auto; }

/*# sourceMappingURL=main.css.map */
